body {
   background-color: #e2e2e2;
   padding: 40px;
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

ul,
li {
   list-style-type: none;
}

.card {
   width: 320px;
   background-color: white;
   padding: 15px;
   border-radius: 10px;
}
.card-image {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
}

.list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}
