* {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   background-color: rgb(211, 211, 211);
   padding: 40px;
}

.box {
   background-color: white;
   margin: 0 auto;
   padding: 30px;
   max-width: 300px;
}
